@{
    ViewData["Title"] = "Home Page";
}

<h2 class="section-title main-title">Welcome to NeoForum</h2>

<div class="container main__inner">
    <p class="main__text">Данный проект создан для : общения, отдыха и развлечения, помощи друг другу в сферах разработки (Моддинг, Программирование, Моделирование, Дизайн)</p>
    <p class="main__text">Располагайся поудобнее и найди для себя что то новое и увлекательное</p>
    <p class="main__text">Проект только создался и вскоре будет дополняться новыми функциями и разделам</p>
</div>

