@model string
  
<h2>Создание роли</h2>
<a asp-action="Index" class="btn btn-secondary">Назад</a>
<div asp-validation-summary="All" class="text-danger"></div>
  
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Имя роли:</label>
        <input name="name" class="form-control" />
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>