@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">Доступ запрещён</h1>
    <p class="text-danger">У вас нет прав для просмотра данного раздела</p>
    <p class="text-danger" href="~/Home/Index">Вернитесь в главный раздел</p>
</header>
